{% load static %}
{% load tailwind_cli %}
<!DOCTYPE html>
<html data-bs-theme="light" dir='auto' lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/shopping_cart_transparent.svg' %}">
    <title>{% block title %}Cashier{% endblock %}</title>
    {% tailwind_css %}
    {% block head %}
    {% endblock %}
</head>

<body class="flex min-h-screen bg-gray-50">
<!-- Sidebar -->
<div class="flex flex-col fixed h-full justify-between w-14 bg-gray-100 text-white shadow-lg">
    {#    <div class="w-16 md:w-16 fixed h-full bg-white shadow-lg">#}
    <div class="flex items-center justify-center h-16 shadow-md">
        <!-- Brand Logo Here -->
        <object data="{% static 'img/shopping_cart_transparent.svg' %}" type="image/svg+xml"
                class="h-8 w-8 object-contain"></object>
    </div>
    <nav class="flex flex-col p-4 space-y-5">
        <a href="/"
           class="flex items-center w-4 h-8 py-2 px-4 text-sm hover:bg-gray-400 dark:hover:bg-gray-200 bg-cover bg-no-repeat"
           style="background-image: url({% static 'img/home-investment.svg' %})"></a>
        <a href="/dashboard/"
           class="flex items-center w-4 h-8 py-2 px-4 text-sm hover:bg-gray-400 dark:hover:bg-gray-200 bg-cover bg-no-repeat"
           style="background-image: url({% static 'img/graph.svg' %})"></a>
        <a href="/admin/"
           class="flex items-center w-4 h-8 py-2 px-4 text-sm hover:bg-gray-400 dark:hover:bg-gray-200 bg-cover bg-no-repeat"
           style="background-image: url({% static 'img/monitor.svg' %})"></a>
        <!-- ... other menu items -->
        <a href="/logout"
           class="flex items-center w-full h-8 py-2 px-4 text-sm hover:bg-gray-400 dark:hover:bg-gray-200 bg-cover bg-no-repeat"
           style="background-image: url({% static 'img/sign-out.svg' %})"></a>
    </nav>
</div>
<div class="flex-grow px-6 overflow-auto container mx-auto md:mt-0">

    {% block content %}
    {% endblock %}
</div>
</body>

</html>