{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>
        <header>
            <div class="container mt-5">
                <div class="row"><h1>فاتورة منتجات</h1></div>
                <div class="row">

                    <div class="col-md-4">

                        <div class="input-group mb-3"><input class="form-control form-control" type="text"
                                                             id="item-barcode">
                            <button class="btn btn-primary" type="button" id="add-item" onclick="addItem();">
                                اضافة
                                منتج
                            </button>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="display: none" scope="col">كود المنتج</th>
                                    <th scope="col">المنتج</th>
                                    <th scope="col">الكمية</th>
                                    <th scope="col">سعر الوحدة</th>
                                    <th scope="col">الاجمالي</th>
                                    <th scope="col">حذف</th>
                                </tr>
                                </thead>
                                <tbody id="invoice-items"></tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-end">
                                    <p>:الاجمالي
                                        <br>
                                        <span id="total-value"></span>

                                    </p>

                                    <p><!--suppress CssInvalidPropertyValue -->
                                        <input class="form-control form-control text-end end" type="number"
                                               placeholder="المدفوع"
                                               style="margin-left: 80%;width: -webkit-fill-available;"
                                               oninput="updateChange(this)"></p>
                                    <p>الباقي: <span id="change">0</span></p>
                                    <form action="{% url 'send_invoice' %}" method="post"
                                          onsubmit="getInvoiceDetails()">
                                        {% csrf_token %}
                                        <input type="hidden" id="invoiceDetails" name="invoiceDetails">

                                        <div class="card" style="width: 80mm;display: none;">
                                            <div class="card-header">
                                                <h5 class="text-center mb-0">سوبر ماركت زيتون</h5>
                                            </div>
                                            <div class="card-body">
                                                <div style="width: inherit;">
                                                    <table class="table table-striped" style="width: 100%;">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col" style="display: none;">كود المنتج</th>
                                                            <th scope="col">المنتج</th>
                                                            <th scope="col">الكمية</th>
                                                            <th scope="col">سعر الوحدة</th>
                                                            <th scope="col">الاجمالي</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="invoice-items-panel">

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="text-end">
                                                            <p>:الاجمالي <br/><span id="total-value-panel">42</span>
                                                            </p>
                                                            <p><span id="paid-panel">50</span></p>
                                                            <p>الباقي: <span id="change-panel">8</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer"><span class="text-center"
                                                                           style="align-self: center;vertical-align: middle;align-content: center;align-items: center;">امام كافيتريا بارني شارع المدينة المنورة  - العصافرة اسكندرية</span>
                                            </div>
                                        </div>
                                        <button class="btn btn-success" type="submit">
                                            حفظ وطباعة الفاتورة
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.debug.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="{% static 'js/get_product.js' %}"></script>

{% endblock %}
