{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_field %}
{% load custom_elements %}
{% block content %}

    <h1 class="text-3xl font-semibold text mt-5">فاتورة منتجات</h1>
    <div class="flex flex-wrap justify-between mt-5">

        <div class="w-full md:w-1/3 px-2">
            <div class="flex space-x-2">
                <input class="form-control flex-grow border border-gray-300 rounded p-2"
                       type="text" id="item-barcode">
                <button class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded"
                        type="button" id="add-item" onclick="addItem();">
                    اضافة منتج
                </button>
            </div>

            <form id="customer-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-12">
                        <div class="mt-5 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

                            {% floating_label_input "رقم الموبايل" "mobile" "4" "oninput" "getCustomerDetails()"%}
                            {% floating_label_input "الاسم الاخير" "last_name" "3" %}
                            {% floating_label_input "الاسم الاول" "first_name" "3" %}
                            {% floating_label_input "الرقم الارضي" "landline" "3" %}
                            {% floating_label_input "العنوان" "street_address" "full" %}

                        </div>
                    </div>
                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button type="reset" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                    <button type="submit"
                            class="inline-flex items-center justify-center h-10 px-6 text-sm font-semibold leading-6
                            text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg
                            shadow focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" id="submit-user">
                        Save
                    </button>
                </div>
            </form>
        </div>

        <div class="w-full md:w-1/2  mt-4 md:mt-0">
            <div class="overflow-x-auto">
                <table class="table-auto w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th class="px-6 py-3 hidden">كود المنتج</th>
                        <th class="px-6 py-3">المنتج</th>
                        <th class="px-6 py-3">الكمية</th>
                        <th class="px-6 py-3">سعر الوحدة</th>
                        <th class="px-6 py-3">الاجمالي</th>
                        <th class="px-6 py-3">حذف</th>
                    </tr>
                    </thead>
                    <tbody id="invoice-items" class="bg-white"></tbody>
                </table>
            </div>
            <div class="mt-4">
                <div class="text-right">
                    <p>الاجمالي: <span id="total-value"></span></p>
                    <input class="form-control border border-gray-300 rounded p-2 w-full md:w-1/3 text-right"
                           type="number" placeholder="المدفوع" oninput="updateChange(this)">
                    <p class="mt-2">الباقي: <span id="change">0</span></p>

                    <form action="{% url 'send_invoice' %}" method="post" onsubmit="getInvoiceDetails()">
                        {% csrf_token %}
                        <input type="hidden" id="invoiceDetails" name="invoiceDetails">
                        <div class="card hidden bg-white shadow-lg rounded-lg overflow-hidden">
                            <div class="card-header p-4">
                                <h5 class="text-center mb-0">سوبر ماركت زيتون</h5>
                            </div>
                            <div class="card-body p-4">
                                <table class="table-auto w-full text-sm text-left text-gray-500">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                    <tr>
                                        <th class="hidden">كود المنتج</th>
                                        <th>المنتج</th>
                                        <th>الكمية</th>
                                        <th>سعر الوحدة</th>
                                        <th>الاجمالي</th>
                                    </tr>
                                    </thead>
                                    <tbody id="invoice-items-panel" class="bg-white"></tbody>
                                </table>
                            </div>
                            <div class="card-footer text-center p-4">
                                <span>امام كافيتريا بارني شارع المدينة المنورة - العصافرة اسكندرية</span>
                            </div>
                        </div>
                        <button class="btn bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4"
                                type="submit">
                            حفظ وطباعة الفاتورة
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
    var deleteIconUrl = "{% static 'img/delete.svg' %}";
    </script>
    <script src="{% static 'js/get_product.js' %}"></script>

{% endblock %}
