{% extends 'base.html' %}
{% load static %}

{% block title %}Sold Items{% endblock %}

{% block content %}
<h1 class="text-3xl">Sold Items for {{ date }}</h1>

<table class="table-auto md:w-1/2 text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for sold_item in sold_items %}
            <tr>
                <td class="text-lg">{{ sold_item.product }}</td>
                <td class="text-lg">{{ sold_item.quantity }}</td>
                <td class="text-lg">{{ sold_item.price }}</td>
                <td class="text-lg">{{ sold_item.total }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

Total Revenue: {{ total_revenue }}
{% endblock %}
